<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040426825708-igolvuen04jrjijuapl8pf5uov2i8dmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040426825708-igolvuen04jrjijuapl8pf5uov2i8dmn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1040426825708-0hfm11fbno7f2k6ai4bakm6uvep76i9s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDQZLQzXB6t2kU-RLkdJhM1JLeMNsduHE</string>
	<key>GCM_SENDER_ID</key>
	<string>1040426825708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppinglist</string>
	<key>PROJECT_ID</key>
	<string>minimalist-8b40c</string>
	<key>STORAGE_BUCKET</key>
	<string>minimalist-8b40c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040426825708:ios:9556762c524da7d101f2c9</string>
</dict>
</plist>